{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Sección Registrarse -->
    <section id="register" class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <!-- Columna de la imagen -->
                <div class="col-lg-6 mb-4 text-center">
                    <img src="{% static '/img/register.png' %}" alt="Regístrate" class="img-fluid rounded">
                </div>

                <!-- Columna del formulario -->
                <div class="col-lg-6 mb-4">
                    <h2>Regístrate</h2>
                    {% if form.errors %}
                        <ul id="errors" class="alert alert-danger list-unstyled">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3 form-group container">
                            {{ form }}
                        </div>
                        <!-- Botón centrado -->
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn-primary">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
