{% extends 'base.html' %}

{% block content %}
<div class="box-container">
    <div class="content-header">
        <h2>Mis rutas</h2>
        <div class="buttons-container">
            <button class="new-route-btn">Nueva Ruta</button>
            <button class="filter-btn">🔍</button>
        </div>
    </div>
    
    <div class="route-card">
        <h3>Ruta Python</h3>
        <div class="star">⭐</div>
    </div>
    <div class="route-card">
        <h3>Java</h3>
    </div>
    <div class="route-card">
        <h3>Django</h3>
    </div>
</div>
{% endblock %}
