{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Mis Rutas de Aprendizaje</h2>

        {% if page_obj %}
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-group">
                        {% for route in page_obj %}
                            <li class="list-group-item d-flex justify-content-between align-items-center m-2">
                                <h5>
                                    <a href="{% url 'ruta_detail' route.id %}" class="text-decoration-none">{{ route.title }}</a>
                                </h5>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="list-group">
                        <div class="list-group-item text-center">
                            <a class="btn btn-secondary" href="{% url 'ruta_favoritas' %}">Ver Favoritas</a>
                        </div>
                        <div class="list-group-item text-center">
                            <a class="btn btn-danger" href="{% url 'ruta_eliminar' %}">Eliminar Ruta</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation buttons -->
            <div class="d-flex justify-content-between mt-3">
                {% if page_obj.has_previous %}
                    <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </div>
        {% else %}
            <div class="alert alert-info text-center mt-4" role="alert">
                <p>No tienes rutas de aprendizaje aún.</p>
                <a class="btn btn-success" href="{% url 'crear_ruta' %}">Crear una Ruta de Aprendizaje</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
