{% extends 'base.html' %}
{% load static %}
{% block content %}
<a href=""{% static 'css/preference.css' %}"" rel="stylesheet"></a>

<h2 style="color: white; margin-top: 20px;">Cambiar estilo de aprendizaje</h2>
<form method="post" style="background-color: #1E1E1E; padding: 20px; border-radius: 10px; max-width: 500px; margin: auto;">
    {% csrf_token %}

    <!-- Style applied to the form -->
    <div class="form-group mb-3">
        <label for="{{ form.preferred_language.id_for_label }}">{{ form.preferred_language.label }}</label>
        {{ form.preferred_language }}
    </div>

    <div class="form-group mb-3">
        <label for="{{ form.learning_style.id_for_label }}">{{ form.learning_style.label }}</label>
        {{ form.learning_style }}
    </div>

    <div class="form-group mb-3">
        <label for="{{ form.tipo_interes.id_for_label }}">{{ form.tipo_interes.label }}</label>
        {{ form.tipo_interes }}
    </div>

    <button type="submit" class="btn btn-custom">Guardar</button>
</form>


{% endblock %}