{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <!-- Columna de texto -->
        <div class="col-lg-6 mb-4">
            <h1 class="mt-5">¡Bienvenido a Intelligence Way!</h1>
            <p class="lead mt-4">
                Intelligence Way es una plataforma diseñada para ayudarte a crear rutas de aprendizaje personalizadas basadas en tus preferencias. Utilizamos contenido educativo que ya está en la base de datos y lo adaptamos según tus gustos y estilos de aprendizaje.
            </p>
            <p class="mt-3">
                Con nuestra herramienta, puedes completar un breve cuestionario que nos permitirá conocer tus intereses en cuanto al tipo de contenido (texto, video, audio) y el tiempo que prefieres dedicar a estudiar. A partir de esta información, generamos rutas de aprendizaje que se adaptan perfectamente a ti.
            </p>
            <p class="mt-3">
                ¡Comienza a explorar y optimiza tu forma de aprender con Intelligence Way!
            </p>
            <a href="{% url 'crear_ruta' %}" class="btn btn-primary btn-lg mt-4">Iniciar Ruta</a>
        </div>

        <!-- Columna de imagen -->
        <div class="col-lg-6 mb-4 text-center">
            <img src="{% static 'img/chica.png' %}" alt="Intelligence Way" class="img-fluid rounded ">
        </div>
    </div>
</div>
{% endblock %}
